body {
    background-color: black;
    color: #cccccc;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

hr {
    background-color: #666666;
    height: 1px;
    border: none;
    margin-bottom: 24px;
}

input:focus {
    border: 1px solid #dddddd;
}

#container {
    text-align: center;
    margin: 5% 25% 0 25%;
    border: 1px solid #666666;
    padding: 32px;
    border-radius: 16px;
}

#mobileNo {
    display: block;
    padding: 10px;
    margin: 10px auto 10px auto;
    border-radius: 4px;
    border: 1px solid grey;
    align-items: center;
    background-color: #111111;
    color: #dddddd;
    font-size: 1.5rem;
    text-align: center;
}

.btn {
    border-radius: 6px;
    border: 0.5px solid white;
    padding: 8px;
    color: white;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin: 4px;
    opacity: 0.8;
}

#wa-btn {
    background-color: #37c24c;
}

#telegram-btn {
    background-color: #229ed9;
}

#telegram-btn img {
    border: 1px solid white;
    border-radius: 50px;
    background-color: inherit;
}

.btn-img {
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

#credits {
    text-align: center;
}

#credits a {
    color: #dddddd;
}

@media only screen and (max-width: 768px) {
    #container {
        text-align: center;
        margin: 5%;
    }

    #mobileNo {
        font-size: 1rem;
    }
}